.category-list {

}

.category-list__container {

}

.category-list__box {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    margin-bottom: 37px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F2F2F2;

        @media (max-width: 1600px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
}

.category-list__item {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-grow: 1;

    padding: 10px 10px;

    background-color: #F2F2F2;
    transition: .25s;

    @media (max-width: 1600px) {
        flex-grow: 0;
        padding: 10px 15px;
    }

    @media (max-width: $break_md) {
        padding: 8px 10px;
        gap: 6px;
    }

    &:hover {
        background-color: #A3DA37;
        color: #fff;
    }
}

.category-list__item--active {
    background-color: #A3DA37;
    color: #fff;
}

.category-list__img {
    height: 28px;
    width: 28px;

    @media (max-width: $break_md) {
        height: 20px;
        width: 20px;
    }

    @media (max-width: $break_xs) {
        display: none;
    }
}

.category-list__title {
    font-weight: 500;

    @media (max-width: $break_md) {
        font-size: 14px;
    }
}
