.contacts {
	padding-bottom: 115px;

	@media screen and (max-width: $break_sm) {
		padding-bottom: 0;
	}
}

.contacts__container {
	
}

.contacts__box {
	position: relative;
	height: 566px;

	@media screen and (max-width: $break_md) {
		height: 450px;
	}

	@media screen and (max-width: $break_sm) {
		display: flex;
		flex-direction: column-reverse;
		height: auto;

		margin-left: -15px;
		margin-right: -15px;
	}
}

.contacts__map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	@media screen and (max-width: $break_sm) {
		position: relative;
		height: 315px;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.contacts__info {
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 32px;

	padding: 40px 44px 70px;
	width: 500px;
	background-color: #2C2C2C;

	color: #858585;

	@media screen and (max-width: $break_md) {
		width: 350px;
		padding: 34px 25px 40px;
	}

	@media screen and (max-width: $break_sm) {
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
	}

	b {
		display: block;
		margin-bottom: 8px;

		color: #fff;
		font-weight: 600;
	}

	a {
		color: #858585;
		text-decoration: none;
	}
}

.contacts__title {
	margin-bottom: 30px;
	font-size: 40px;
	color: #fff;
}