.home-content {
	// padding-top: 65px;
	// padding-bottom: 85px;

	margin-top: 100px;
	margin-bottom: 100px;

	@media screen and (max-width: $break_sm) {
		// padding-top: 30px;
		// padding-bottom: 40px;

		margin-top: 50px;
		margin-bottom: 50px;
	}

	p {
		&:first-child {
			margin-top: 0;
		}
	}
}

.home-content__img-box {
	overflow: hidden;
	margin-bottom: 88px;
}

.home-content__img {
	display: block;
	transition: .25s;

	&:hover {
		transform: scale(1.015);
	}
}

.home-content__container {

}

.home-content__title {
	max-width: 550px;
	font-size: 40px;

}

.home-content__box {

}

