.home-hero {
	background-image: url('../img/bg-home-hero.jpg');
	background-size: cover;
	background-position: center;

	min-height: 652px;
	// max-height: 652px;
	
	overflow: hidden;

	@media screen and (max-width: $break_md) {
		min-height: 400px;
	}
}

.home-hero__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// min-height: 100%;

	@media screen and (max-width: $break_sm) {
		flex-wrap: wrap;	
	}
}

.home-hero__info {
	flex-basis: 50%;

	display: flex;	

	@media screen and (max-width: $break_sm) {
		flex-basis: 100%;
	}
}

.home-hero__box {
	max-width: 520px;
	margin-right: auto;
	padding-top: 111px;
	padding-bottom: 175px;

	@media screen and (max-width: $break_md) {
		padding-top: 60px;
		padding-bottom: 90px;
	}

	@media screen and (max-width: $break_sm) {
		padding-top: 45px;
		padding-bottom: 40px;
	}
}

.home-hero__title {
	margin-top: 0;
	margin-bottom: 16px;

	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	line-height: 1.16;
	font-weight: 600;

	// @media screen and (max-width: $break_lg) {
	// 	font-size: 42px;
	// }

	@media screen and (max-width: $break_lg) {
		font-size: 32px;
	}

	@media screen and (max-width: $break_sm) {
		max-width: 350px;
		font-size: 26px;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;

		br {
			display: none;
		}
	}
}

.home-hero__descr {
	font-size: 18px;
	line-height: 1.4;
}

.home-hero-section__btn {
	margin-top: 26px;
}

.home-hero__slide-item {

}

.home-hero__slider.swiper {
	flex-basis: 50%;
	width: 790px;
	height: 652px;

	@media screen and (max-width: $break_md) {
		height: 400px;
	}

	@media screen and (max-width: $break_sm) {
		flex-basis: 100%;
		height: 350px;
	}

	@media screen and (max-width: $break_xs) {
		height: 300px;
	}
}

.home-hero__slide-item {
	height: calc((100% - 30px) / 3) !important;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: $break_md) {
		height: calc((100% - 30px) / 2) !important;
	}
}
