section.about-section
	.full-container.about-section__container
		.about-section__box
			.about-section__info
				.about-section__text
					h2.section-header.about-section__title О компании «Славянка»
					p Компания «Славянка» – это надежный поставщик с 2007 года. Специализируясь на продаже всего спектра предметов для офиса, мы предлагаем приобрести стильные и качественные модели по разумной цене.
					p Сервис для нас значит очень много. За годы работы мы сформировали собственный подход к обслуживанию клиентов.
					p Мы гарантируем соблюдение сроков поставки. Мы регулярно пополняем складские запасы и используем собственный грузовой транспорт, благодаря чему поставляем заказы оперативно в течение 1-2 дней. Сборка всегда бесплатна, а покупке на минимальную установленную для вашего города сумму не придется платить и за доставку.
					a(href="#").btn.btn--orange.about-section__btn Перейти

			//- .about-section__img(style="background-image: url('../img/about-section/about.jpg');")
			.about-section__img.b-lazy(data-src="img/about-section/about.jpg")

