.accordeon
	.container.accordeon__container
		.accordeon__box
			.accordeon__item
				.accordeon__title.accordeon__title--active
					span Столы
				.accordeon__content
					include product
			.accordeon__item
				.accordeon__title
					span Приставки
				.accordeon__content.accordeon__content--hidden Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство свой раз родного единственное вскоре осталось языком всеми страну, первую переписали лучше несколько пунктуация переулка своего всемогущая текстов, оксмокс послушавшись даль дал использовало рукописи рекламных. Предупредила, от всех себя имеет ведущими вопрос повстречался маленькая которое. Семь безорфографичный переулка бросил! Великий?
			.accordeon__item
				.accordeon__title
					span Тумбы
				.accordeon__content.accordeon__content--hidden Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство свой раз родного единственное вскоре осталось языком всеми страну, первую переписали лучше несколько пунктуация переулка своего всемогущая текстов, оксмокс послушавшись даль дал использовало рукописи рекламных. Предупредила, от всех себя имеет ведущими вопрос повстречался маленькая которое. Семь безорфографичный переулка бросил! Великий?
			.accordeon__item
				.accordeon__title
					span Шкафы
				.accordeon__content.accordeon__content--hidden Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство свой раз родного единственное вскоре осталось языком всеми страну, первую переписали лучше несколько пунктуация переулка своего всемогущая текстов, оксмокс послушавшись даль дал использовало рукописи рекламных. Предупредила, от всех себя имеет ведущими вопрос повстречался маленькая которое. Семь безорфографичный переулка бросил! Великий?