.banner.banner--designers
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title Дизайнерам
                .banner__descr Компания «Славянка» приглашает к сотрудничеству архитекторов и дизайнеров офисных помещений.
                img(src="img/banner/designers-one.png", alt="").banner__decor.banner__decor--one
