.banner.banner--about-company
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title О компании
                .banner__descr Компания ООО «Славянка» является одним из ведущих поставщиков офисной мебели и сопутствующих товаров в Ростовской области и ЮФО
                img(src="img/banner/about-company-one.png", alt="").banner__decor.banner__decor--one
                img(src="img/banner/about-company-two.png", alt="").banner__decor.banner__decor--two
