.banner.banner--clients
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title Клиентам
                .banner__descr Нашим клиентам мы предлагаем ряд бесплатных услуг
                img(src="img/banner/clients-one.png", alt="").banner__decor.banner__decor--one
                //- img(src="img/banner/clients-two.png", alt="").banner__decor.banner__decor--two
