.banner.banner--organizations
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title Госучреждениям
                .banner__descr 10 лет являемся надежным и стабильным поставщиком
                img(src="img/banner/organizations-one.png", alt="").banner__decor.banner__decor--one
                img(src="img/banner/organizations-two.png", alt="").banner__decor.banner__decor--two
