.banner
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title О компании
                .banner__descr Компания ООО «Славянка» является одним из ведущих поставщиков офисной мебели и сопутствующих товаров в Ростовской области и ЮФО