.banner.banner--noCart
    .full-container.banner__contaier
        .banner__box
            include breadcrumbs
            .banner__content
                .banner__title Почему у нас нет корзины?
                .banner__descr  Она нам не понадобится
                img(src="img/banner/noCart-one.svg", alt="").banner__decor.banner__decor--one
                //- img(src="img/banner/about-company-two.png", alt="").banner__decor.banner__decor--two
