section.benefits
	.container.benefits__container
		.benefits__img
			img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/benefits/benefits.jpg", alt="").b-lazy
		.benefits__info
			h2.section-header.benefits__title(data-da="benefits__img,0,768") С нами выгодно сотрудничать
			.benefits__box
				a(href="#").benefits__item Оптовикам
				a(href="#").benefits__item Госучреждениям
				a(href="#").benefits__item Дизайнерам

