
.breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
	.full-container.breadcrumbs__container
		///| Вы здесь:&#32;
		a(href='#', itemprop='url')
			span(itemprop='title') Главная
		| 	 / 
		a(href='#', itemprop='url')
			span(itemprop='title') Распродажа
		| 	 / 
		span(itemprop='title') Специальная цена на выставочные образцы

		//Главная / Распродажа / Специальная цена на выставочные образцы
