section.home-content
	//- .full-container
		//- img(src="img/home-content/home-content.jpg", alt="").home-content__img

		//- picture.home-content__img
			source(media="(max-width: 480px)" srcset="img/home-content/home-content-min.jpg")
			source(media="(max-width: 992px)" srcset="img/home-content/home-content-med.jpg")
			img(src="img/home-content/home-content.jpg", alt="")

		.home-content__img-box
			img.home-content__img.b-lazy(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src='img/home-content/home-content.jpg' data-src-small='img/home-content/home-content-min.jpg' data-src-medium='img/home-content/home-content-med.jpg' alt='alt')


	.container.home-content__container
		h2.section-header.home-content__title Главный предмет рабочего места - стол
		.home-content__box.two-columns
			p Любой руководитель старается обеспечить работникам комфортные условия труда. В просторном, светлом и удобном офисе легче и эффективнее работается. Именно поэтому во многих компаниях есть специальные комнаты с игровой приставкой, настольными играми - работники могут в перерыв отвлечься от задач и отдохнуть, чтобы вернуться на рабочее место с новыми силами.

			.hidden-text
				p Важно тщательно организовать рабочие места - подобрать качественную и функциональную мебель для сотрудников. Если офис небольшой, но нужно разместить там много людей, придется постараться. Чтобы помочь бизнесу решить эти задачи, ведущие производители разработали модели удобных и компактных столов, шкафов, тумб и офисных кресел. Если тщательно подойти к выбору обстановки, можно на небольшом пространстве разместить несколько рабочих мест без потери комфортности.

				p Не стоит забывать об обустройстве кабинета руководителя, приемных, залов совещаний. Обстановка этих помещений – визитная карточка фирмы, символизирующая ее благополучие, статус, вкус владельца. Удобная стойка на ресепшене, диваны в зоне ожидания, журнальные столики, тумбы и шкафы придадут законченный вид.

				h3 Мебель для сотрудников

				p В среднем человек работает 40 часов в неделю. Мебель должна отвечать требованиям безопасности, комфорта, экологичности. Компания «Славянка» приглашает покупателей приобрести комплекты для обустройства рабочих мест по низким ценам.

				p Ассортимент мебели для персонала представлен в салоне, расположенном на пр. Шолохова 16. Также вы можете удобно выбрать модели в нашем интернет-каталоге. Он логично структурирован, там есть фото и описание товара.

				p В нашем магазине в Ростове-на-Дону можно купить столы для работы различных видов и ценовой категории:

				ul
					li элегантные, представительские для приемной. На них с комфортом разместятся гости компании, ожидающие приема;
					li рабочие письменные и компьютерные прямоугольной или угловой формы, оснащенные надставками, дополнительными тумбами, полками;
					li массивные модели для совещаний с плавными формами, рассчитанные на размещение большого количества человек.

				h3 Где купить столы для персонала?

				p Вы можете купить удобные и эстетичные комплекты мебели эконом-класса по низкой цене в выставочном зале компании на пр. Шолохова 16. Менеджеры помогут сделать выбор, разъяснят характеристики изделия, организуют доставку и сборку. Если понравившегося комплекта нет в наличии, наши сотрудники сделают заказ или предложат альтернативный вариант.

			//- a(href="#").show-text Читать далее
			button.show-text Читать далее






//-
//-
//-

//- Производители гарантируют, что продукция изготовлена из экологичных материалов, не выделяющих вредных веществ и способных выдержать постоянную нагрузку.





