.delivery
	.container.delivery__container
		.content
			h1 Доставка и сборка
			.content.delivery__grid
				.delivery__cell.delivery-cell.delivery-cell--one
					.delivery-cell__box
						.delivery-cell__title Бесплатная доставка при стоимости заказа
						.delivery-cell__info
							ul
								li Ростов-на-Дону от 10 000 руб.;
								li Азов, Батайск от 25 000 руб.;
								li Таганрог, Шахты от 50 000 руб.;
								li Каменск-Шахтинский от 70 000 руб
						.delivery-cell__dop-info *Стоимость доставки в другие города уточняйте по телефону +7 (863) 286-99-77

				.delivery__cell.delivery-cell.delivery-cell--two
					.delivery-cell__box
						.delivery-cell__title Самовывоз
						.delivery-cell__info
							p Вы можете забрать мебель самостоятельно по адресу: г.&nbsp;Ростове-на-Дону, пер.Радиаторный,&nbsp;13.
							p Время работы склада: Пн-Пт с&nbsp;9-18 сб-вс — выходной

				.delivery__cell.delivery-cell.delivery-cell--three
					.delivery-cell__box
						.delivery-cell__title Сборка
						.delivery-cell__info
							p Сборка мебели осуществляется&#32;
								b бесплатно


