section.home-content


	.container.home-content__container

		h3 А где корзина?
		.home-content__box.two-columns
			//- .hidden-text
			.no-transfer-column
				p Она нам не понадобится. Каждый товар мы подберем индивидуально по заявке. Нам важно, чтобы мебель идеально вписалась в любой интерьер и бюджет. Именно поэтому система ценообразования должна быть гибкой.

				p У нас уникальные условия для дизайнеров, госучреждений, оптовых и розничных покупателей. Мы нацелены на плодотворное и длительное сотрудничество. Каждому клиенту — индивидуальное предложение. Вместе обсудим цены, условия доставки и дизайн-решения. Уверены — придем к компромиссу!

			p Творчество никогда не было универсальным. Подобрать уникальные решения для каждого — сложно. Но можно ли иначе? Мы очень ценим вашу индивидуальность и сделаем все, чтобы она воплотилась в вашем интерьере.

			//- a(href="#").show-text Читать далее
			//- button.show-text Читать далее


