section.home-content


	.container.home-content__container

		h3 Дизайн-проект 3D
		.home-content__box.two-columns
			//- .hidden-text
			.no-transfer-column
				p Современное офисное помещение должно соответствовать множеству требований: важна как эргономика, так и психологический комфорт сотрудников. Кроме того, помещение должно производить положительное впечатление на посетителей: именно первое впечатление во многом определяет мнение о компании. 

				p Качественный и современный офисный интерьер состоит из множества составляющих. Необходимо продумать:

				ul
					li цвет и фактуру пола, потолка, стен;
					li размещение мебели;
					li внешний вид мебели.

			p Увидеть интерьер еще до начала ремонта поможет дизайн-проект. Вы сможете оценить разные варианты размещения сотрудников и расположения их рабочих мест, выбрать самый эргономичный вариант. Использование конкретных моделей мебели в нем позволяет заранее спланировать бюджет – просчитать те затраты, которые необходимы на меблировку помещений.

			p Наши клиенты могут воспользоваться услугой бесплатного составления дизайн-проекта. Мы учтем ваши пожелания, а при необходимости – и корпоративный стиль, внедрим их в проект.

			//- a(href="#").show-text Читать далее
			//- button.show-text Читать далее


