.blog-post
	.container.blog-post__container
		.content.blog-post__content
			h1 Какой должна быть стойка ресепшн?

			img(src="img/blog/blog-post.jpg", alt="").blog-post__img

			p В большинстве компаний есть зона, где посетитель впервые встречается с персоналом, попадая в помещение. Это зона ожидания или приемная зона, стойка ресепшн. Она должна не только создавать нужное впечатление об организации, но и быть функциональной.
			p Форма стойки зависит от размеров и планировки помещения. Для длинной узкой комнаты подойдет прямоугольная вытянутая, для просторного помещения – П-образная, а для маленьких пространств – угловая или округлая. Если посетители будут проходить вблизи угла стойки, его стоит скруглить.
			p Существуют замкнутые модели в виде кольца или квадрата. Их размещают в больших помещениях, например торговых центрах.

			h2 Размеры

			p Высота внутренней столешницы равна высоте обычного рабочего стола, внешняя же должна быть такой, чтобы стоящий человек среднего роста мог свободно писать. Если посетители офиса просто общаются с сотрудниками, верхняя часть стойки все равно не должна быть выше уровня глаз сидящего человека. Это необходимо, чтобы поддерживать зрительный контакт при разговоре, а также обеспечить сотруднику хороший обзор помещения. Тогда администратор или секретарь будет чувствовать себя комфортно и уверенно.

			p Определить оптимальную длину стойки можно исходя из количества работающего за ней персонала. Для одного человека нужно минимум 80 см. Если у вас бывают периоды пиковой загрузки, когда количество персонала в зоне ресепшн увеличивается, понадобится модель с запасом длины.

			p Сделать стойку удобнее для посетителей может небольшая полка или крючки для сумок и других вещей.

			p Если вы планируете размещать на стойке каталоги, прайс-листы, визитки, верхняя столешница должна быть расширена.

			p Глубину стойки следует делать такой, чтобы монитор свободно помещался под столешницей. Для документов лучше приобрести отдельный стеллаж или шкаф и разместить его у стены. Предметы, которыми сотрудник редко пользуется во время работы, лучше разместить в ящиках внизу, оставив столешницу свободной.

			h2 Какой материал выбрать

			ul
				li МДФ и ДСП – наиболее распространенные недорогие материалы для ограниченного бюджета.
				li Натуральный и искусственный камень – это материалы с более высокой стоимостью, но они позволяют создать интерьер, подчеркивающий статус организации.
				li Из массива дерева выполняют эксклюзивные стойки ресепшн.
				li Металл и стекло обычно используются в сочетании с другими материалами, как элементы отделки.
			p Материал стойки должен сочетаться с остальной мебелью в помещении, также ее можно выполнить в фирменных цветах или украсить логотипом.
			p Для классических интерьеров оптимальным выбором будет дерево, шпон, ДСП. Для современных минималистичных стоит предпочесть стекло, камень.

			h2 Как расположить ресепшн

			p Планировать расположение нужно так, чтобы комфортно было и клиентам, и сотрудникам, принимающим их. Для этого стоит учесть следующие рекомендации:
			ul
				li Человек, вошедший в помещение, должен сразу видеть сотрудника за стойкой.
				li Перед стойкой должно оставаться свободное пространство, чтобы несколько посетителей не мешали друг другу.
				li Лучше всего, чтобы свет падал на стойку сбоку, так будет удобнее заполнять документы.




