.error-404
	.container.error-404__container
		.breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
			a(href='#', itemprop='url')
				span(itemprop='title') На главную
		.content.error-404__content
			.error-404__box
				.error-404__nember 404
				.error-404__error ошибка
				.error-404__text Что-то пошло не так. Возможно, данная страница была удалена или перемещена
				a(href="#").btn.btn--orange.error-404__btn Вернуться на главную
		.error-404__img

