.contacts-page
	.full-container.contacts-page__container
		.content
			h1 Контакты

			.contacts-page__box
				.contacts-page__info

					.contacts-page__block.b-contacts-page
						.b-contacts__title Адрес
						p 344019, Россия, г. Ростов-на-Дону, пр-т Шолохова, 16 (пересеч. с ул. Каяни)

					.contacts-page__block.b-contacts-page
						.b-contacts__title Телефон и e-mail
						ul
							li
								a(href="tel:+78632869977") +7 (863) 286-99-77
						ul
							li
								a(href="mailto:2869977@slavameb.ru") 2869977@slavameb.ru

					.contacts-page__block.b-contacts-page
						.b-contacts__title Время работы магазина
						p Пн-Пт: с 09:00 до 18:00

					.contacts-page__block.b-contacts-page
						.b-contacts__title Отдел сервиса
						ul
							li
								a(href="tel:+78632018902") +7 (863) 201-89-02
						ul
							li
								a(href="tel:+78632018903") +7 (863) 201-89-03

					.contacts-page__block.b-contacts-page
						.b-contacts__title Время работы сервиса
						p Пн-Пт: с 09:00 до 17:00

					.contacts-page__block.b-contacts-page
						.b-contacts__title телефоны менеджеров
						ul
							li Михаил&ensp;
								a(href="tel:+79094003794") +7(909)400-37-94
							li Анастасия&ensp;
								a(href="tel:+79094003785") +7(909)400-37-85
							li Александр&ensp;
								a(href="tel:+79094003772") +7(909)400-37-72
							li Мария&ensp;
								a(href="tel:+79094003780") +7(909)400-37-80


				.contacts-page__map
					iframe.b-lazy(data-src='https://yandex.ru/map-widget/v1/?um=constructor%3A1d24ac55db3ebcd2b7232dcd9d6b1d699f765a0df12a3a375627ce5235c569a9&source=constructor' frameborder='0')