section.home-content


	.container.home-content__container

		.home-content__box.two-columns

			//- .hidden-text
			h3 В наличии 14 серий мебели
			.no-transfer-column
				p У нашей компании большой товарный запас различных серий мебели для персонала. Мы постоянно расширяем ассортимент кабинетов руководителя, которые есть в наличии на нашем складе и представлены в нашем выставочном салоне. Вся наша мебель это продукция крупных отечественных и зарубежных производителей, это серийные фабричные комплекты самого высокого качества, с соответствующими сертификатами и гарантией. Для вас мы подберем серии мебели, которые будут максимально отвечать Вашим требованиям к обустройству офисного пространства.

				p Мы осуществляем доставку и сборку по всей Ростовской области, а также за ее пределы. Выбрав подходящую мебель, вы можете заказать ее доставку и сборку. Наша офисная мебель может быть оперативно доставлена и собрана у вас в офисе в течении 1-2 дней.

				ul
					li Повышают производительность персонала, давая ему возможность более эффективно выполнять свою работу.
					li Обеспечивают порядок в делопроизводстве, позволяя упорядочено размещать документы и канцелярские принадлежности.
					li Формируют имидж фирмы в глазах посетителей и партнеров.

			h3 Дизайн проекты
			p Мы осуществляем создание дизайн проекта вашего офиса, с выбранной вами серией мебели бесплатно, быстро и качественно. Создание такого дизайн проекта включает в себя: выезд в к вам нашего специалиста; замер им помещения; подбор необходимой комплектации офисной мебели, исходя из ваших пожеланий; подготовку 3д презентации, в которой наглядно будет представлен уже оборудованный мебелью ваш офис; подготовка сметы на весь проект с учетом доставки и сборки.

			//- a(href="#").show-text Читать далее
			//- button.show-text Читать далее


