.container
	.content.sale-content
		h1 Специальная цена <br> на выставочные образцы
		
		p Уважаемые Покупатели!

		p В этом разделе мы предлагаем Вашему вниманию мебель с максимальной выгодой для Вас. Мы постоянно меняем ассортимент на наших экспозициях и стараемся, чтоб образцы мебели в нашем выстовочном зале не теряли свой вид. Всё что представлено в этом разделе выставлено в нашем салоне. Вы можете приехать и купить у нас со скидкой понравившийся товар.