section.contacts
	.full-container.contacts__container
		.contacts__box
			.contacts__map
				//- iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A1d24ac55db3ebcd2b7232dcd9d6b1d699f765a0df12a3a375627ce5235c569a9&source=constructor' frameborder='0')
				iframe.b-lazy(data-src='https://yandex.ru/map-widget/v1/?um=constructor%3A1d24ac55db3ebcd2b7232dcd9d6b1d699f765a0df12a3a375627ce5235c569a9&source=constructor' frameborder='0')

			.contacts__info
				h2.section-header.contacts__title Контакты
				p
					b Адрес&#32;
					| Ростов-на-Дону, пр-т Шолохова, 16 <br> (пересеч. с ул. Каяни)
				p
					b Телефон&#32;
					a(href="tel:+78632869977") +7 (863) 286-99-77					
					br
					a(href="mailto:2869977@slavameb.ru") 2869977@slavameb.ru
				p
					b График работы&#32;
					| Пн-Пт: с 09:00 до 18:00