mixin feedbackItem(title, descr, company)
	.feedback__item
		.feedback__name #{title}
		.feedback__decr #{descr}
		if company != ''
			.feedback__company #{company}

.feedback
	.container.feedback__container
		.content
			h1 Отзывы

			a.btn.feedback__btn Оставить отзыв

			.feedback__box
				.feedback__col

					.feedback__list
						+feedbackItem(
							'Иван Петрович',
							'Стеллажи для склада только здесь беру. Недорого, очень прочные, удобный сервис. Эксплуатирую их по полной - стоят, как новенькие. Сами по себе не очень тяжелые, но выдерживают много веса. Советовать смело могу, особенно, если поставили в одном месте и используете.',
							'ИП Марков'
						)
						+feedbackItem(
							'Дмитрий Некрасов',
							'Покупал в магазине “Славянка” кресло для руководителя Бюрократ. Механизмы работают исправно, отличная обивка и мягкие подлокотники. Привезли через 1 день, как я и просил при оформлении заказа.',
							''
						)
						+feedbackItem(
							'Родион Игнатов',
							'Купили в “Славянке” офисную мебель для переговорной. Качество вполне соответствует цене. Доставили все в Азов на следующий день. Так как заказ нашей компании был больше чем на 25 000 руб, доставка бесплатная.',
							''
						)
						+feedbackItem(
							'Родион Игнатов',
							'Купили в “Славянке” офисную мебель для переговорной. Качество вполне соответствует цене. Доставили все в Азов на следующий день. Так как заказ нашей компании был больше чем на 25 000 руб, доставка бесплатная.',
							''
						)
						+feedbackItem(
							'Родион Игнатов',
							'Купили в “Славянке” офисную мебель для переговорной. Качество вполне соответствует цене. Доставили все в Азов на следующий день. Так как заказ нашей компании был больше чем на 25 000 руб, доставка бесплатная.',
							''
						)

					.text-center
						a(href="#").btn.feedback__btn--more Загрузить еще


				.feedback__col
					include form-feedback