mixin postItem(src, title, descr)
	a(href="#").blog-posts__item.post-item
		.post-item__img-box
			img(src="img/blog/"+src, alt="").post-item__img
		.post-item__info
			.post-item__info-box
				.post-item__date 19.10.2023
				.post-item__title #{title}
				.post-item__descr #{descr}



.blog
	.container.blog__container
		.content
			h1 Блог

			.blog__posts.blog-posts
				.blog-posts__list
					+postItem(
						'01.jpg',
						'Какой должна быть стойка ресепшн?',
						'В большинстве компаний есть зона, где посетитель впервые встречается с персоналом, попадая в помещение. Это зона ожидания или приемная зона, стойка ресепшн. Она должна не только создавать нужное впечатление об...'
					)
					+postItem(
						'02.jpg',
						'Удобный офис',
						'Современный человек проводит на работе значительную часть времени. Поэтому важно, чтобы офис был удобным в первую очередь для сотрудников. Если им будет приятно в нем находиться и удобно работать, то...'
					)
					+postItem(
						'01.jpg',
						'Какой должна быть стойка ресепшн?',
						'В большинстве компаний есть зона, где посетитель впервые встречается с персоналом, попадая в помещение. Это зона ожидания или приемная зона, стойка ресепшн. Она должна не только создавать нужное впечатление об...'
					)
					+postItem(
						'02.jpg',
						'Удобный офис',
						'Современный человек проводит на работе значительную часть времени. Поэтому важно, чтобы офис был удобным в первую очередь для сотрудников. Если им будет приятно в нем находиться и удобно работать, то...'
					)
					+postItem(
						'01.jpg',
						'Какой должна быть стойка ресепшн?',
						'В большинстве компаний есть зона, где посетитель впервые встречается с персоналом, попадая в помещение. Это зона ожидания или приемная зона, стойка ресепшн. Она должна не только создавать нужное впечатление об...'
					)
					//- a(href="#").blog-posts__item.post-item
						.post-item__img-box
							img(src="img/blog/01.jpg", alt="").post-item__img
						.post-item__info
							.post-item__date
							.post-item__title
							.post-item__descr

				.blog-posts__more.text-center
					a(href="#").btn Загрузить еще

