.desig-project
	.full-container.desig-project__container.b-lazy(data-src="img/desig-project/bg-desig-project.jpg")
		.desig-project__box
			h2.section-header.desig-project____title Дизайн-проект бесплатно
			.desig-project____descr Наши клиенты могут воспользоваться услугой бесплатного составления дизайн-проекта
			a(href="#").btn.desig-project__btn.btn--orange Подробнее