footer.footer
	.full-container.footer__container

		.footer__col.footer__first
			a.footer__logo.logo(href="#")
				img(src="img/logo.png", alt="")
				| Славянка
			.footer__copy(data-da="footer__container,last,768") 2022 © ООО «Славянка» - Офисная мебель

		.footer__col
			.footer__title Клиентам
			ul.footer__menu.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Офисная мебель
				li.footer-menu__item
					a.footer-menu__link(href="#") О компании
				li.footer-menu__item
					a.footer-menu__link(href="#") Доставка и сборка
				li.footer-menu__item
					a.footer-menu__link(href="#") Готовые проекты
				li.footer-menu__item
					a.footer-menu__link(href="#") Отзывы
				li.footer-menu__item
					a.footer-menu__link(href="#") Распродажа %

		.footer__col
			.footer__title Сотрудничество
			ul.footer__menu.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Оптовикам
				li.footer-menu__item
					a.footer-menu__link(href="#") Госучреждениям
				li.footer-menu__item
					a.footer-menu__link(href="#") Дизайнерам

		.footer__col(data-da="footer__first,1,992")
			ul.footer__menu.footer-menu
				li.footer-menu__item
					a.footer-menu__link.no-cart(href="#") Почему у нас нет корзины

		.footer__col.footer-contacts
			a(href="tel:+78632869977").footer__fhone +7 (863) 286-99-77
			span.footer__fhone-text Многоканальный
			p Ростов-на-Дону, пр-т Шолохова, 16
			.footer__map(data-da="footer__container,5,768")
				//- img(src="img/karta.jpg", alt="")
				iframe.b-lazy(data-src='https://yandex.ru/map-widget/v1/?um=constructor%3A1d24ac55db3ebcd2b7232dcd9d6b1d699f765a0df12a3a375627ce5235c569a9&source=constructor' frameborder='0')
				//- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1d24ac55db3ebcd2b7232dcd9d6b1d699f765a0df12a3a375627ce5235c569a9&amp;width=100%25&amp;height=130&amp;lang=ru_RU&amp;scroll=false"></script>