form(action="#" method="post").help__form.form
	.input-wrapper
		input#phone.form__phone(type='tel' name='phone' placeholder='Номер телефона')
	.input-wrapper
		input#email.form__email(type='email' name='email' placeholder='E-mail')
	.input-wrapper
		textarea#message(name='message' placeholder='Комментарий (необязательно)').form__message
	.input-wrapper.agreement
		label(for='agreement').agreement__label
			input#agreement.form__agreement(name='agreement' type='checkbox' required='' checked='')
			| Даю согласие на обработку моих персональных данных на условиях, указанных в&nbsp;
			a(href='#') Политике конфиденциальности
	button.form__btn.btn.btn--grren(type='submit') Отправить заявку