header.header
	.full-container.header__container

		//- button.header__menu-btn(aria-label="Меню сайта")
		//- a.header__menu-btn(href="#mobile-menu" aria-label="Меню сайта")
		button.header__menu-btn(type='button' aria-label='Меню сайта')
			span


		.header__info.header-info
			a.header-info__link.no-cart(href="#") Почему у нас нет корзины
			a.header-info__link(href="#") Распродажа %

		a.header__logo.logo(href="")
			img(src="./img/logo.png", alt="")
			| Славянка

		.header__contacts.header-contacts
			a(href="tel:+78632869977").header-contacts__phone +7 (863) 286-99-77
			a(href="#").header-contacts__address Ростов-на-Дону
				span , пр-т Шолохова, 16
