#help.help
	.container.help__container
		.help__text
			h2.section-header.help__title Хотите уточнить стоимость или задать вопрос?
			p Наши менеджеры на связи и готовы помочь в кратчайшие сроки

		include form-help