.privilege
	.container.privilege__container
		.privilege__box 
			a(href="#" data-src="../img/privilege/privilege.jpg").privilege__item.privilege__item--bg-img.b-lazy
				.privilege__title Оптовикам
				.privilege__descr Индивидуальная система скидок
				button.privilege__btn.btn-arrow

			a(href="#" data-src="../img/privilege/bg-green.svg").privilege__item.privilege__item--bg-green.b-lazy
				.privilege__title Дизайнерам
				.privilege__descr Широкий ассортимент офисной мебели
				button.privilege__btn.btn-arrow

			a(href="#" data-src="../img/privilege/bg-green.svg").privilege__item.privilege__item--bg-green.b-lazy
				.privilege__title Госучреждениям
				.privilege__descr Опыт участия в закупках более 15 лет
				button.privilege__btn.btn-arrow

			.privilege__item.privilege__item--bg-white
				.privilege__title Работаем <span>с&nbsp;крупнейшими</span> производителями
				.privilege__descr Работаем с проверенными отечественными и зарубежными поставщиками