section.prod-slider
	.container.prod-slider__container
		h2.section-header.prod-slider__title Мебель<br> для персонала
		.prod-slider__wrapper
			.prod-slider__inner.swiper
				.prod-slider__wrapper.swiper-wrapper

					.prod-slider__box.swiper-slide
						.prod-slider__info
							.prod-slider__text
								p.prod-slider__text-title.section-header__sub-title Эконом класс
								p В нашем интернет-магазине представлена мебель, выполненная в разнообразных стилях, покупатели могут выбирать из множества расцветок и текстур.
								p Купить готовые комплекты или собрать свой функциональный вариант офиса из отдельных частей вам помогут наши консультанты.
								a(href="#").btn.prod-slider__btn Перейти
						.prod-slider__item
							.prod-slider__img
								//- img(src="img/prod-slider/01.jpg", alt="")
								img(src="img/prod-slider/01.jpg", alt="", loading="lazy")
							.prod-slider__img
								//- img(src="img/prod-slider/02.jpg", alt="")
								img(src="img/prod-slider/02.jpg", alt="", loading="lazy")
							.prod-slider__img
								//- img(src="img/prod-slider/03.jpg", alt="")
								img(src="img/prod-slider/03.jpg", alt="", loading="lazy")

					.prod-slider__box.swiper-slide
						.prod-slider__info
							.prod-slider__text
								p.prod-slider__text-title.section-header__sub-title 333 Эконом класс
								p В нашем интернет-магазине представлена мебель, выполненная в разнообразных стилях, покупатели могут выбирать из множества расцветок и текстур.
								p Купить готовые комплекты или собрать свой функциональный вариант офиса из отдельных частей вам помогут наши консультанты.
								a(href="#").btn.prod-slider__btn Перейти
						.prod-slider__item
							.prod-slider__img
								img(src="img/prod-slider/01.jpg", alt="", loading="lazy")
							.prod-slider__img
								img(src="img/prod-slider/03.jpg", alt="", loading="lazy")
							.prod-slider__img
								img(src="img/prod-slider/02.jpg", alt="", loading="lazy")

					.prod-slider__box.swiper-slide
						.prod-slider__info
							.prod-slider__text
								p.prod-slider__text-title.section-header__sub-title 333 Эконом класс
								p В нашем интернет-магазине представлена мебель, выполненная в разнообразных стилях, покупатели могут выбирать из множества расцветок и текстур.
								p Купить готовые комплекты или собрать свой функциональный вариант офиса из отдельных частей вам помогут наши консультанты.
								a(href="#").btn.prod-slider__btn Перейти
						.prod-slider__item
							.prod-slider__img
								img(src="img/prod-slider/01.jpg", alt="", loading="lazy")
							.prod-slider__img
								img(src="img/prod-slider/03.jpg", alt="", loading="lazy")
							.prod-slider__img
								img(src="img/prod-slider/02.jpg", alt="", loading="lazy")

			.prod-slider__pagination
			.prod-slider__prev
			.prod-slider__next
			//- .swiper-pagination