section.prod-category
	.container.prod-category__container
		.prod-category__box
			.prod-category__img
				img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/prod-category/prod-category.jpg", alt="").b-lazy
			.prod-category__info
				h2.section-header.prod-category__title Кресла<br> для офиса
				.prod-category__descr
					p.prod-category__sub-title.section-header__sub-title Надежная конструкция и качественные материалы
					p Менеджеры салона помогут подобрать товары для офиса из множества представленных в ассортименте вариантов
					a(href="#").btn.prod-category__btn Перейти