.profit
    .container.profit__container
        .profit__box
            h2.section-header.profit__title С нами выгодно сотрудничать
            ul.profit__list
                li.profit__item Бесплатная сборка мебели
                li.profit__item Привозим под заказ
                li.profit__item Бесплатная доставка
                li.profit__item Бесплатный 3D дизайн-проект
                li.profit__item У нас скидки, акции и другие программы лояльности
                li.profit__item В нашем каталоге большой товарный запас мебели
            //- img(src="", alt="").profit__img

