.registration
	.container.registration-form__container
		.registration-form__text
			h2.section-header.registration-form__title Форма регистрации для оптовиков
			p Наши менеджеры на связи и готовы помочь в кратчайшие сроки

		include form-registration

