
.reviews
	.full-container.reviews__full-container
		.container.reviews__container
			.reviews__list.swiper
				.swiper-wrapper.reviews__wrapper
					.reviews__item.swiper-slide
						.reviews__info
							.reviews__text.b-lazy(data-src="../img/reviews.svg") Компания Славянка оснастила офисной и мягкой мебелью кабинеты руководителей и персонала в нашем новом салоне. Все сделали быстро и в срок!
							.reviews__name Иванов Иван
							.reviews__post Руководитель «ААА моторс Jaguar Land Rover»
						a(href="https://www.youtube.com/watch?v=GbDI469JqFU" data-fslightbox="reviews-item").reviews__video
							img(src="img/reviews/01.jpg" alt="" loading="lazy").reviews__img
							.reviews__descr Отзыв от руководителя «ААА моторс Jaguar Land Rover»
					.reviews__item.swiper-slide
						.reviews__info
							.reviews__text Компания Славянка оснастила офисной и мягкой мебелью кабинеты руководителей и персонала в нашем новом салоне. Все сделали быстро и в срок!
							.reviews__name Иванов Иван
							.reviews__post Руководитель «ААА моторс Jaguar Land Rover»
						a(href="https://www.youtube.com/watch?v=hJWDTyKYcRE" data-fslightbox="reviews-item").reviews__video
							img(src="img/reviews/01.jpg" alt="" loading="lazy").reviews__img
							.reviews__descr Отзыв от руководителя «ААА моторс Jaguar Land Rover»
			.reviews__prev
			.reviews__next






					//- .reviews__item
						.reviews__info
							.reviews__text Компания Славянка оснастила офисной и мягкой мебелью кабинеты руководителей и персонала в нашем новом салоне. Все сделали быстро и в срок!
							.reviews__name Иванов Иван
							.reviews__post Руководитель «ААА моторс Jaguar Land Rover»
						a(href="#").reviews__video
							img(src="img/reviews/01.jpg", alt="").reviews__img
							.reviews__descr Отзыв от руководителя «ААА моторс Jaguar Land Rover»
					//- .reviews__item
						.reviews__info
							.reviews__text Компания Славянка оснастила офисной и мягкой мебелью кабинеты руководителей и персонала в нашем новом салоне. Все сделали быстро и в срок!
							.reviews__name Иванов Иван
							.reviews__post Руководитель «ААА моторс Jaguar Land Rover»
						a(href="#").reviews__video
							img(src="img/reviews/01.jpg", alt="").reviews__img
							.reviews__descr Отзыв от руководителя «ААА моторс Jaguar Land Rover»
