//- .search.active
.search
	.container.search__container
		.search__box
			form.search-form( action="/search" method="GET")
				input.search-field(type="search" name="search" placeholder="Искать, например, кресло компьютерное")
				button.btn-search(type="submit" aria-label="Найти")
				button.search-close(type="button" aria-label="Закрыть панель поиска")
				//- input.btn.search-submit(type="submit" class="btn search-submit" value="Искать")
				//- .close-search



//- <section class="search active">
//-     <div class="container">
//-         <form action="/search" method="GET" class="search-form">
//-             <button type="submit" class="btn-search"></button>
//-             <input type="search" name="search" class="search-field" placeholder="Узи почек">
//-             <input type="submit" class="btn search-submit" value="Искать">
//-             <div class="close-search"></div>
//-         </form>
//-     </div>
//- </section>