section.text-img
    .container.text-img__container
        .text-img__box
            .text-img__text
                h2.section-header.text-img__title Дизайнерам и архитекторам
                p Создавая проекты с использованием нашей продукции, вы получаете возможность создать именно тот интерьер, который будет полностью соответствовать запросам вашего заказчика. Наша команда профессионалов готова оказать вам содействие в достижении этой цели.
                a(href="#help").btn.btn--grren.smooth-scroll Оставить заявку
            img(src="img/text-img/text-img-designers.jpg", alt="").text-img__img