section.text-img
    .container.text-img__container
        .text-img__box
            .text-img__text
                h2.section-header.text-img__title Почему нас выбирают
                ul
                    li Высокая квалификация специалистов по заказам для бюджетных, автономных учреждений, государственных, муниципальных унитарных предприятий.
                    li Опыт участия в закупках более 15 лет.
                    li Компания зарегистрирована в Едином реестре участников закупок.
                a(href="#help").btn.btn--grren.smooth-scroll Оставить заявку
            img(src="img/text-img/text-img-organizations.jpg", alt="").text-img__img