section.text-img
    .container.text-img__container
        .text-img__box
            .text-img__text
                h2.section-header.text-img__title Предлагаем
                ul
                    li Индивидуальная система скидок.
                    li Рекламные материалы, каталоги, образцы.
                    li Информирование о пополнении склада, об остатках товаров.
                    li Самовывоз на следующий день после оплаты.
            img(src="img/text-img/text-img-optovikam.jpg", alt="").text-img__img