section.text-img
    .container.text-img__container
        .text-img__box
            .text-img__text
                h2.section-header.text-img__title 10 лет являемся надежным и стабильным поставщиком
                p У нас большой опыт работы, и этот опыт позволяет нам эффективно выполнять все наши обязательства перед своими клиентами, строго укладываться в сроки, и ответственно реализовывать проект, который нам доверили. Для нас важно доверие, которое нам оказывают, и мы делаем все необходимое, чтобы наша работа была выполнена безукоризненно, а все возникающие вопросы в процессе реализации поставленных задач решались быстро и эффективно.
            img(src="img/text-img/text-img-about-company.jpg", alt="").text-img__img