doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		.nav
			.container.nav__container
				include ../includes/menu
				include ../includes/search-btn
			include ../includes/search-panel

		main
			include ../includes/banner-about-company
			include ../includes/text-img-about-company
			include ../includes/profit
			include ../includes/content-about-company
			include ../includes/projects-slider
			include ../includes/help
			include ../includes/partners
		include ../includes/footer