doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		.nav
			.container.nav__container
				include ../includes/menu
				include ../includes/search-btn
			include ../includes/search-panel

		main
			include ../includes/breadcrumbs
			include ../includes/contentSale
			include ../includes/catalog
		include ../includes/footer