//- Для pageType указать тип страницы
- var pageType = 'home';



//- home - главная страница
if pageType === 'home'
	include home

//- category - страница категории товаров (например, Офисная мебель для персонала)
if pageType === 'category'
	include category

//- subcategory - страница подкатегории, показывает коллекции товаров выбранной категории
if pageType === 'subcategory'
	include subcategory

//- productItem - страница коллекции, показывает, из чего состоит коллекция
if pageType === 'productItem'
	include productItem

//- cpecprice - Специальная цена на выставочные образцы
if pageType === 'cpecprice'
	include cpecprice



//- readyProject - Готовые проекты
if pageType === 'readyProject'
	include readyProject

//- projectsPage - Страница проекта
if pageType === 'projectsPage'
	include projectsPage



//- aboutCompany - О компании
if pageType === 'aboutCompany'
	include aboutCompany

//- contacts - страница контакты
if pageType === 'contacts'
	include contacts

//- feedback - страница с текстовыми отзывами и формой оставить отзыв
if pageType === 'feedback'
	include feedback

//- blog - Блог (список постов)
if pageType === 'blog'
	include blog

//- blog-post - страница поста в блоге
if pageType === 'blog-post'
	include blog-post

//- error-404 - страница ошибка 404
if pageType === 'error-404'
	include error-404

//- freeDesign - Дизайн-проект бесплатно
if pageType === 'freeDesign'
	include freeDesign


//- noCart - Почему у нас нет корзины?
if pageType === 'noCart'
	include noCart

//- sale - Распродажа - общая страница
if pageType === 'sale'
	include sale

//- optovikam - Страница Оптовикам
if pageType === 'optovikam'
	include optovikam

//- organizations - Страница Госучреждениям
if pageType === 'organizations'
	include organizations

//- clients - Страница Клиентам
if pageType === 'clients'
	include clients

//- designers - Страница Дизайнерам
if pageType === 'designers'
	include designers


//- delivery - Доставка и сборка
if pageType === 'delivery'
	include delivery


//- index - для показа верстки
if pageType === 'index'
	include verstka

