doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		.nav
			.container.nav__container
				include ../includes/menu
				include ../includes/search-btn
			include ../includes/search-panel

		main
			include ../includes/banner-organizations
			include ../includes/text-img-organizations
			include ../includes/desig-project
			include ../includes/profit
			include ../includes/content-organizations
			include ../includes/help
		include ../includes/footer