doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		.nav
			.container.nav__container
				include ../includes/menu
				include ../includes/search-btn
			include ../includes/search-panel

		main
			include ../includes/breadcrumbs
			include ../includes/collection-card
			include ../includes/advantages
			include ../includes/accordeon
			include ../includes/desig-project
			include ../includes/good-deal
			include ../includes/privilege
			include ../includes/reviews

			include ../includes/projects-slider
			include ../includes/partners
			include ../includes/help
		include ../includes/footer