doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		.nav
			.container.nav__container
				include ../includes/menu
				include ../includes/search-btn
			include ../includes/search-panel

		main
			include ../includes/category-list
			include ../includes/breadcrumbs-full
			include ../includes/collection-subcategory
			include ../includes/profit
			include ../includes/projects-slider
			include ../includes/privilege
			include ../includes/category-content
			include ../includes/reviews
			include ../includes/partners
			include ../includes/help
		include ../includes/footer